body{
	background-color:LightGray;
	font-family: 'Roboto', sans-serif;
	font-variant: normal;
	font-weight: 100;
}

h1 {
	font-size: 48px;
	margin:30px 60px 0px;
}
h2 {
	font-size: 30px;
	margin: -5px 3px -15px;
	font-weight:100;
}
h3 {
	font-size: 20px;
	margin:0px 60px;
}
h4 {
	font-size: 28px;
}
h5 {
	font-size: 19px;
}
h6 {
	font-size: 14px;
}
p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	display:inline-block;
}

.header_area{
	margin: 10px auto 0px;
}

.border{
	max-width: 1280px;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	background-color:white;
}
#language_box{
	width:900px;
	margin:auto;
	text-align:center;
	padding: 4px;	
}

#content_box{
	width:90%;
	margin:auto;
	padding:10px 0 20px;
	font-weight:400;
}

#inline1{
	display:inline-block;
	vertical-align:top;
	margin: 0px 15px;
}

.circleBase {
    border-radius: 50%;
    behavior:url(PIE.htc);
    text-align:center;
    display:inline-block;
}

.circleBase:hover{
	background-color:DodgerBlue ;
}

.type1 {
    width: 70px;
    height: 70px;
    border: 1px solid ;
    line-height: 70px;
    margin: 2px;
    border-color: black;
    color:white;
    background:#8c8c8c;
}
.type2 {
    width: 50px;
    height: 50px;
    background: #ccc;
    border: 3px solid #000;
}
.type3 {
    width: 500px;
    height: 500px;
    background: aqua;
    border: 30px solid blue;
}

#box2{
	display:inline-block;
	width:150px;
	border-style: solid;
	border-width: 1px;
	padding: 7px;
	margin:7px 1px;
	border-color:black;
	color:white;
	background:#8c8c8c;
}

#box{
	display:inline-block;
	background-color:SlateGray;
	border-style: solid;
	border-width: 1px;
	border-color:black;
	padding: 7px;
	margin:1px;
	color:white;
	font-weight:100;
}

#box2:hover{
	background-color: DodgerBlue ;
}

hr {
	width: 90%;
}

.section_title{
	margin-top:20px;
	margin-bottom:10px;
	text-align:left;
}
.subsection_title{
	margin:10px;
	margin-bottom:0px;
	text-align:left;
}
.subsection_text{
	margin:20px;
	margin-top:5px;
	margin-bottom:0px;
	text-align:left;
}
